<!-- Navigation -->
<nav class="my-4 w-full z-50 nav-blur">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <div class="text-2xl font-bold flex items-center gap-2">
            <div class="w-8 h-8 bg-gradient-to-tr from-indigo-500 to-purple-500 rounded-lg"></div>
            <a href="/"><span>Hire<span class="gradient-text">AI</span></span></a>
        </div>
        <div class="hidden md:flex space-x-8 text-sm font-medium text-gray-400">
            <a href="#features" class="hover:text-white transition-colors">Features</a>
            <a href="#workflow" class="hover:text-white transition-colors">How it Works</a>
            <a href="#analytics" class="hover:text-white transition-colors">AI Analytics</a>
            {% if user %}
            <a href="/jobs" class="hover:text-white transition-colors">Jobs</a>
            
            {% endif %}
        </div>

        {% if user %}
            <div class="flex items-center gap-4">
            <a href="/logout"
                class="px-5 py-2 text-sm font-semibold border border-gray-700 rounded-full hover:bg-gray-800 transition-colors">Logout</a>
            <!-- <a href="/register" class="px-5 py-2 text-sm font-semibold btn-primary rounded-full">Join Now</a> -->
        </div>
        {% else %}
        <div class="flex items-center gap-4">
            <a href="/login"
                class="px-5 py-2 text-sm font-semibold border border-gray-700 rounded-full hover:bg-gray-800 transition-colors">Login</a>
            <a href="/register" class="px-5 py-2 text-sm font-semibold btn-primary rounded-full">Join Now</a>
        </div>
        <!-- <p>Please login</p> -->
        {% endif %}
        
    </div>
</nav>